/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.container {

    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title-heading {
    max-width: 700px;
}

.title-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.title-main span {
    color: #ff6e65;
}

.title-main::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    left: -20px;
    bottom: -8px;
    right: 0;
    margin: 0 auto;
}

.title-main::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    left: 20px;
    bottom: -15px;
    right: 0;
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
    color: #707070;
}

/* HEADER */

.header__top {
    background: #0d369f;
    padding: 8px 15px;
}

.header__left a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
}

.header__left a:hover {
    color: #ff6e65;
}

.header__left i {
    color: white;
    margin-right: 4px;
}

.header__right i {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
    transition: all .5s;
}

.header__right i:hover {
    color: #ff6e65;
}

.header__bottom {
    background-color: transparent;
    padding: 0;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    display: block;
}

.header-sticky {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-fixed {
    background-color: #fff;
    display: block;
    border-bottom: none;
    height: 70px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.navbar {
    margin: 1rem 1rem;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #0d369f;
    font-weight: 600;
}

.navbar .navbar-brand span {
    transition: all .5s;
}

.navbar .navbar-brand:hover span {
    color: #ff6e65;
}

.navbar .navbar-nav .nav-item {
    padding: 0 12px;
}

.navbar .navbar-nav .nav-link {
    padding: 6px 0;
    font-size: 16px;
    color: #060606;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
    display: inline-block;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-link:hover {
    color: #ff6e65;
}

.navbar .navbar-nav .nav-item.dropdown {
    padding-right: 20px;
}

.navbar .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #00000000;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

.navbar .navbar-nav .dropdown-item {
    font-size: 16px;
    color: #060606;
    padding: 5px 24px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.navbar .navbar-nav .dropdown-item:hover {
    color: #ff6e65;
}

.navbar .search-box {
    display: flex;
    align-items: center;
}

.navbar .search-box input {
    font-size: 15px;
    color: #060606;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    outline: none;
}

.navbar .search-box button {
    position: absolute;
    right: 0;
    color: #0d369f;
    padding: 0 20px 0 0;
    transition: all .5s;
}

.navbar .search-box button:hover {
    color: #ff6e65;
}

/* CAROUSEL */

.landingCarousel__info1 {
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}
.landingCarousel__item{
    position: relative;
}
.landingText__position1{
    position: absolute;
    left: 190px;
    top:0;
    z-index: 4;
}
.landingText__position2{
    position: absolute;
    left: 190px;
    top:0px;
    z-index: 4;
}

.landingCarousel__info1::before , .landingCarousel__info2::before{
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 3;
}
.landingCarousel__info2{
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 90vh;
}
.landing__text h5{
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: white;
    margin-right: 600px;
    padding-top: 100px;
}
.landingCarousel__info2 h5{
    margin-right: 400px;
}
.carousel__btn {
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    padding: 14px 30px;
    transition: all 0.5s;
}
.carousel__btn:hover{
    background-color: #ff6e65;
    color: white;
}
.carousel__btn i{
    font-weight: bold;
}
.landingCarousel{
    position: relative;
}
.owl-dots{
    margin-top: 0px;
    position: absolute;
    right: 24px;
    bottom: 120px;
    background: none;
    
   
}
.landingText__position2 h5{
    margin-right: 550px;
}

.owl-theme .owl-dots .owl-dot{
    display: block;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #ff6e65;
}

/* FEATURE */

.features {
    position: relative;
    margin-top: -4em;
    padding-bottom: 5rem;
}

.features .area-box {
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-color: #fff;
}

.features .color-1 {
    background-color: #037ef3;
}

.features .color-2 {
    background-color: #ffc949;
}

.features .color-3 {
    background-color: #ff4f81;
}

.features .color-4 {
    background-color: #1ee697;
}

.features .area-box i {
    font-size: 45px;
    color: #fff;
}

.features .title-head {
    margin-top: 25px;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.features .title-head:hover {
    color: #000;
}

.features .area-box a {
    text-decoration: none;
} 

/* WELCOME */

.welcome {
    padding: 3rem 0;
}

.welcome .welcome-icon i {
    color: #0d369f;
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.welcome .welcome-info a {
    text-decoration: none;
    background-color: transparent;
}

.welcome .welcome-info .title-info {
    color: #060606;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.welcome .welcome-info .title-info:hover {
    color: #ff6e65;
}

.welcome .welcome-info .text-info {
    font-size: 16px;
    line-height: 28px;
    color: #707070 !important;
    letter-spacing: 0.4px;

}

.welcome__bottom .welcome__content-bottom {
    background-image: url(../img/bg3.jpg);
    height: 68vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 48px 0;
}

.welcome__bottom .container {
    padding: 48px 0;
}

.welcome__bottom .small-grid {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

.welcome .icon {
    margin-right: 1em;
}

.welcome .icon i {
    color: #0d369f;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
}

.welcome .icon-info h5 {
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 6px;
}

.welcome .icon-info p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

/* NUMBER */

.number .title-heading p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
    color: #707070;
}

.number .stats {
    margin-bottom: 100px;
}

.number .counter {
    border-right: 1px solid #eee;
}

.number .counter .timer {
    font-size: 46px;
    font-weight: 600;
    color: #060606;
}

.number .counter p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #060606;
}

/* FEEDBACK */

.feedback .feedback__content {
    margin-bottom: 100px;
}

.feedback .row {
    margin-top: 100px;
}

.feedback .feedback__grid {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    padding: 2rem;
}

.feedback .feedback__grid i {
    font-size: 22px;
    color: #ff6e65;
    line-height: 0.8;
}

.feedback .feedback__grid .feedback__author {
    display: grid;
    grid-template-columns: .3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 1.5em;
}

.feedback .author-image img {
    border-radius: 50%;
    vertical-align: middle;
}

.feedback .author-caption h5 {
    font-weight: 600;
    line-height: 16px;
}

.feedback .author-caption p {
    font-size: 13px;
    line-height: 10px;
}

/* INSTRUCTORS */

.instructors .instructors__block {
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    margin-top: 30px;
}

.instructors .instructors-img {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.instructors .instructors-img img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.instructors .instructors-social {
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    transition: all .5s;
}

.instructors .instructors__block:hover .instructors-social {
    bottom: 0;
}

.instructors .social-icons .facebook,
.instructors .social-icons .twitter,
.instructors .social-icons .google {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.instructors .social-icons a:hover {
    opacity: .8;
}

.instructors .social-icons i {
    font-size: 14px;
    line-height: 28px;
    color: #0d369f;
}

.instructors .instructors-bottom a {
    text-decoration: none;
    color: #060606;
    font-weight: 600;
    transition: all .5s;
}

.instructors .instructors__block:hover .member-name a {
    color: #ff6e65;
}

.instructors .instructors-bottom p {
    font-weight: 400;
    font-size: 80%;
}

/* CONTACT US */

.contactUs .contactUs-left img {
    border-radius: 8px;
}

.contactUs .contactUs-right h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.contactUs .contactUs-right button {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background: #ff6e65;
    border: none;
    transition: all .25s;
}

.contactUs .contactUs-right button:hover {
    background: #0d369f;
}

/* FOOTER */

.footer .footer-sub {
    padding: 80px 0;
    background: #060e1f;
}

.footer .text-sub {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.footer .title-head {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.footer .form-info p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.footer .rightside-form {
    display: flex;
}

.footer .rightside-form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.footer .rightside-form button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.footer .text-info {
    margin-top: 120px;
}

.footer .footer-title h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.footer .footer-title p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}

.footer .footer-archive {
    padding-right: 20px;
}

.footer .footer-archive ul li,
.footer .footer-categories ul li {
    list-style: none;
}

.footer .footer-archive ul li a,
.footer .footer-categories ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    text-decoration: none;
}

.footer .icon-before ul li a {
    position: relative;
    padding-left: 14px;
}

.footer .icon-before ul li a::before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    left: 0px;
    font-size: 9px;
    color: #fff;
}

.footer .info-contact i {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.footer .info-contact a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.footer .footer-phone {
    margin-top: 10px;
    padding: 10px 0;
}

.footer .footer-address {
    color: #cecece;
    line-height: 25px;
    font-size: 17px;
    margin-top: 10px;
}

.footer .footer-about {
    border-left: 1px solid rgb(64 73 82 / 51%);
    padding-left: 50px;
}

.footer .footer-social {
    margin-top: 1.2em;
}

.footer .social li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.footer .social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.footer .social li a span {
    font-size: 15px;
}

.footer .footer-copyright {
    background: #040a17;
    padding: 12px 0;
}

.footer .columns p,
.footer .columns p a {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}

.footer .columns p a {
    color: #fff;
}

/* BACK TO TOP */

.backToTop {
    position: fixed;
    right: 15px;
    bottom: 90px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop i {
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #0d369f;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .header__top {
        display: none;
    }

    .navbar-toggler-icon.fa {
        background-color: #0d369f;
        font-size: 20px;
        color: white;
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-radius: 4px;
        text-align: center;
    }
    header .header__bottom {
        height: auto;
    }
    .header-sticky {
        position: fixed;
    }
    .navbar, header .nav-fixed nav.navbar.navbar-expand-lg.stroke {
        margin: .5rem 0;
    }
   
    button.navbar-toggler.collapsed .icon-expand {
        display: block;
    }

    button.navbar-toggler .icon-expand {
        display: none;
    }

    button.navbar-toggler.collapsed .icon-close {
        display: none;
    }

    button.navbar-toggler .icon-close {
        display: block;
    }

    #sibe.navbar-nav {
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        background: #fff;
        padding: 20px;
        margin-top: 16px;
        box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
    }
    .number .counter {
        border-right: none;
    }

    .footer .text-sub {
        margin: 0 2em;
    }
    .footer .text-info {
        margin-top: 200px;
    }
    .text-info .footer-about {
        border-left: none;
        padding-left: 10px;
    }
}