/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.container {

    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title-heading {
    max-width: 700px;
}

.title-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.title-main span {
    color: #ff6e65;
}

.title-main::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    left: -20px;
    bottom: -8px;
    right: 0;
    margin: 0 auto;
}

.title-main::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    left: 20px;
    bottom: -15px;
    right: 0;
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
    color: #707070;
}

/* HEADER */

.header__top {
    background: #0d369f;
    padding: 8px 15px;
}

.header__left a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
}

.header__left a:hover {
    color: #ff6e65;
}

.header__left i {
    color: white;
    margin-right: 4px;
}

.header__right i {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
    transition: all .5s;
}

.header__right i:hover {
    color: #ff6e65;
}

.header__bottom {
    background-color: transparent;
    padding: 0;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    display: block;
}

.header-sticky {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-fixed {
    background-color: #fff;
    display: block;
    border-bottom: none;
    height: 70px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.navbar {
    margin: 1rem 1rem;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #0d369f;
    font-weight: 600;
}

.navbar .navbar-brand span {
    transition: all .5s;
}

.navbar .navbar-brand:hover span {
    color: #ff6e65;
}

.navbar .navbar-nav .nav-item {
    padding: 0 12px;
}

.navbar .navbar-nav .nav-link {
    padding: 6px 0;
    font-size: 16px;
    color: #060606;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
    display: inline-block;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-link:hover {
    color: #ff6e65;
}

.navbar .navbar-nav .nav-item.dropdown {
    padding-right: 20px;
}

.navbar .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #00000000;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

.navbar .navbar-nav .dropdown-item {
    font-size: 16px;
    color: #060606;
    padding: 5px 24px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.navbar .navbar-nav .dropdown-item:hover {
    color: #ff6e65;
}

.navbar .search-box {
    display: flex;
    align-items: center;
}

.navbar .search-box input {
    font-size: 15px;
    color: #060606;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    outline: none;
}

.navbar .search-box button {
    position: absolute;
    right: 0;
    color: #0d369f;
    padding: 0 20px 0 0;
    transition: all .5s;
}

.navbar .search-box button:hover {
    color: #ff6e65;
}

/* FOOTER */

.footer .footer-sub {
    padding: 80px 0;
    background: #060e1f;
}

.footer .text-sub {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.footer .title-head {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.footer .form-info p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.footer .rightside-form {
    display: flex;
}

.footer .rightside-form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.footer .rightside-form button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.footer .text-info {
    margin-top: 120px;
}

.footer .footer-title h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.footer .footer-title p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}

.footer .footer-archive {
    padding-right: 20px;
}

.footer .footer-archive ul li,
.footer .footer-categories ul li {
    list-style: none;
}

.footer .footer-archive ul li a,
.footer .footer-categories ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    text-decoration: none;
}

.footer .icon-before ul li a {
    position: relative;
    padding-left: 14px;
}

.footer .icon-before ul li a::before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    left: 0px;
    font-size: 9px;
    color: #fff;
}

.footer .info-contact i {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.footer .info-contact a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.footer .footer-phone {
    margin-top: 10px;
    padding: 10px 0;
}

.footer .footer-address {
    color: #cecece;
    line-height: 25px;
    font-size: 17px;
    margin-top: 10px;
}

.footer .footer-about {
    border-left: 1px solid rgb(64 73 82 / 51%);
    padding-left: 50px;
}

.footer .footer-social {
    margin-top: 1.2em;
}

.footer .social li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.footer .social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.footer .social li a span {
    font-size: 15px;
}

.footer .footer-copyright {
    background: #040a17;
    padding: 20px 0;
}

.footer .columns p,
.footer .columns p a {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}

.footer .columns p a {
    color: #fff;
}

/* BACK TO TOP */

.backToTop {
    position: fixed;
    right: 15px;
    bottom: 90px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop i {
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #0d369f;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .header__top {
        display: none;
    }

    .navbar-toggler-icon.fa {
        background-color: #0d369f;
        font-size: 20px;
        color: white;
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-radius: 4px;
        text-align: center;
    }
    header .header__bottom {
        height: auto;
    }
    .header-sticky {
        position: fixed;
    }
    .navbar, header .nav-fixed nav.navbar.navbar-expand-lg.stroke {
        margin: .5rem 0;
    }
   
    button.navbar-toggler.collapsed .icon-expand {
        display: block;
    }

    button.navbar-toggler .icon-expand {
        display: none;
    }

    button.navbar-toggler.collapsed .icon-close {
        display: none;
    }

    button.navbar-toggler .icon-close {
        display: block;
    }

    #sibe.navbar-nav {
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        background: #fff;
        padding: 20px;
        margin-top: 16px;
        box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
    }
    .carousel-item img {
        object-fit: cover;
    }
    .number .counter {
        border-right: none;
    }

    .footer .text-sub {
        margin: 0 2em;
    }
    .footer .text-info {
        margin-top: 200px;
    }
    .text-info .footer-about {
        border-left: none;
        padding-left: 10px;
    }
}